@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
/** Media Queries **/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
}

p {
  color: #000000;
  font-size: 2rem;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  margin: 2.5rem 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

.seccion {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.contenido-centrado {
  max-width: 800px;
}

.alinear-derecha {
  display: flex;
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}

.boton-amarillo {
  background-color: #E08709;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2.5rem;
  display: inline-block;
  border: none;
}
.boton-amarillo:hover {
  background-color: #c77808;
  cursor: pointer;
}

.boton-amarillo-block {
  background-color: #E08709;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2.5rem;
  display: block;
  border: none;
}
.boton-amarillo-block:hover {
  background-color: #c77808;
  cursor: pointer;
}

.boton-verde {
  background-color: #71B100;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2.5rem;
  display: inline-block;
  border: none;
}
.boton-verde:hover {
  background-color: #619800;
  cursor: pointer;
}

.boton-rojo-block {
  background-color: rgb(189, 7, 7);
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2.5rem;
  display: block;
  border: none;
  width: 100%;
}
.boton-rojo-block:hover {
  background-color: #a40606;
  cursor: pointer;
}

.boton-verde-block {
  background-color: #71B100;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2.5rem;
  display: block;
  border: none;
}
.boton-verde-block:hover {
  background-color: #619800;
  cursor: pointer;
}

.inicio {
  background-image: url("/src/img/header.jpg");
}

.header {
  background-color: #333333;
  padding: 1rem 0 3rem 0;
}
.header.inicio {
  background-position: center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .header.inicio {
    min-height: 70rem;
  }
}
@media (min-width: 768px) {
  .header.inicio .contenido-header {
    min-height: 70rem;
  }
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1 {
  color: #FFFFFF;
  text-align: left;
  font-weight: 700;
  line-height: 2;
  max-width: 60rem;
}

.footer {
  padding: 2.5rem 0;
  background-color: #333333;
  margin-bottom: 0;
}
.footer .contenedor-footer {
  padding-top: 5rem;
}
.footer .navegacion {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.footer .copyright {
  color: #FFFFFF;
  text-align: center;
}

.derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .derecha {
    align-items: flex-end;
  }
}
.derecha .dark-mode-boton {
  width: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  filter: invert(100%);
}
.derecha .dark-mode-boton:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .derecha .dark-mode-boton {
    margin-top: 0;
  }
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.navegacion {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.5s linear, height 0.5s linear;
}
@media (min-width: 768px) {
  .navegacion {
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
  }
}
.navegacion a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2.2rem;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .navegacion a {
    margin-right: 2rem;
    font-size: 1.8rem;
  }
  .navegacion a:last-of-type {
    margin-right: 0;
  }
}
.navegacion a:hover {
  color: #71B100;
}

/** Menu de hamburguesa **/
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu img {
  width: 5rem;
}

.mostrar {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.testimonial {
  background-color: #71B100;
  font-size: 2.4rem;
  padding: 2rem;
  color: #FFFFFF;
  border-radius: 2rem;
}
.testimonial blockquote {
  padding-left: 5rem;
  position: relative;
}
.testimonial blockquote::before {
  content: "";
  background-image: url("/src/img/comilla.svg");
  background-repeat: no-repeat;
  height: 6rem;
  width: 6rem;
  display: block;
  position: absolute;
  left: -2rem;
}
.testimonial p {
  text-align: right;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .contenedor-anuncios {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.anuncio {
  margin-top: 2rem;
  background-color: #eeeeee;
  border: 1px solid #c8c8c8;
}
@media (min-width: 768px) {
  .anuncio {
    margin-top: 0;
  }
}
.anuncio .contenido-anuncio {
  padding: 2rem;
}
.anuncio h3,
.anuncio p {
  margin: 0;
}
.anuncio h3 {
  margin-bottom: 2rem;
}

.precio {
  color: #71B100;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  font-size: 2.4rem;
}

.iconos-caracteristicas {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}
.iconos-caracteristicas p {
  text-align: center;
  font-weight: 900;
}
.iconos-caracteristicas .imagen-icono {
  height: 5rem;
}

.iconos-propiedad {
  display: flex;
  justify-content: flex-start;
  gap: 6rem;
  list-style: none;
  padding: 0;
}
.iconos-propiedad p {
  text-align: center;
  font-weight: 900;
}
.iconos-propiedad .imagen-icono {
  height: 5rem;
}

.imagen-contacto {
  background-image: url("/src/img/encuentra.jpg");
}

.imagen-contacto {
  background-position: center center;
  background-size: cover;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen-contacto h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #FFFFFF;
}
.imagen-contacto p {
  font-size: 1.8rem;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .contenido-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.texto-nosotros blockquote {
  font-weight: 900;
  font-size: 2.2rem;
  margin: 3rem 0 0 0;
  padding-left: 1rem 0 3rem 0;
}

@media (min-width: 768px) {
  .iconos-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.icono {
  text-align: center;
}
.icono img {
  height: 10rem;
}
.icono h3 {
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
